<h1>
    Sistemas de Cadastro</h1>
<ul class="row">
    <li class="col-md-4 offset-4">
        <a class="btn btn-primary btn-block btn-lg" [routerLink]="['/motoristas']">Cadastro de Motoristas</a>
    </li>
    <li class="col-md-4 offset-4">
        <a class="btn btn-secondary btn-block btn-lg" [routerLink]="['/cargas']"> Cadastro de Cargas</a>
    </li>
    <li class="col-md-4 offset-4">
        <a class="btn btn-success btn-block btn-lg" [routerLink]="['/frotas']"> Cadastro de Caminhão</a>
    </li>
</ul>