<h1 class="mt-5 mb-4 text-center">Cadastro de Cargas</h1>
<hr />
<form [formGroup]="cargasForm" (ngSubmit)="salvar()" class="mt-4 mb-4">
    <div class="form-group">
        <label for="nf">Nota Fiscal: </label>
        <input id="nf" type="text" class='form-control' placeHolder="Nota Fiscal da Carga" formControlName="nf">
    </div>
    <div class="form-group">
        <label for="municipio">Municipio: </label>
        <input id="municipio" type="text" class='form-control' placeHolder="municipio" formControlName="municipio">
    </div>
    <div class="form-group">
        <label for="estado">Estado: </label>
        <input id="estado" type="text" class='form-control' placeHolder="estado" formControlName="estado">
    </div>
    <div class="form-group">
        <label for="tipo">Tipo: </label>
        <input id="tipo" type="text" class='form-control' placeHolder="Tipo de Frete" formControlName="tipo">
    </div>
    <div class="form-group">
        <label for="frete">Valor do Frete: </label>
        <input id="frete" type="text" class='form-control' placeHolder="Valor do Frete" formControlName="frete">
    </div>
    <div class="form-group">
        <label for="peso">Peso da Carga: </label>
        <input id="peso" type="text" class='form-control' placeHolder="Peso da Carga" formControlName="peso">
    </div>
    <hr />
    <div class="row text-center mt-4">
        <div class="col-3">
            <button class="btn btn-primary btn-block" [routerLink]="['/cargas']">Dados Cadastrados</button>
        </div>
        <div class="col-3">
            <button class="btn btn-primary btn-block" type="submit" [disabled]="!cargasForm.valid">Salvar</button>
        </div>
        <div class="col-3">
            <button class="btn btn-primary btn-block" [routerLink]="['/cargas']">Cancelar</button>
        </div>
    </div>
</form>