<h1 class="mt-5 mb-5"> Cargas</h1>
<table class="table table-striped ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nota Fiscal:</th>
            <th>Estado:</th>
            <Th>Municipio:</Th>
            <th>Tipo:</th>
            <th>Valor do Frete:</th>
            <th>Peso:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let carga of cargas ">
            <td>{{carga.id}}</td>
            <td>{{carga.nf}}</td>
            <td>{{carga.municipio}}</td>
            <td>{{carga.estado}}</td>
            <td>{{carga.tipo}}</td>
            <td>{{carga.frete}}</td>
            <td>{{carga.peso}}</td>
            <td>
                <button class="btn btn-outline-warning btn-sm mr-2" [routerLink]="['edicao', carga.id]">Editar</button>
            </td>
            <td>
                <button class="btn btn-outline-danger btn-sm " (click)="excluir(carga)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="row text-center mt-4">
    <div class="col-3">
        <button class="btn btn-primary btn-block" [routerLink]="['/cargas/cadastro']">Cadastrar Novo</button>
    </div>
    <div class="col-3">
        <button class="btn btn-primary btn-block" [routerLink]="['/menu-principal']">Menu Principal</button>
    </div>
</div>