<h1 class="mt-5 mb-5"> Frotas</h1>
<table class="table table-striped ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Modelo</th>
            <th>Estado</th>
            <TH>Municipio</TH>
            <th>Tipo</th>
            <th>Placa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let frota of frotas ">
            <td>{{frota.id}}</td>
            <td>{{frota.modelo}}</td>
            <td>{{frota.municipio}}</td>
            <td>{{frota.estado}}</td>
            <td>{{frota.tipo}}</td>
            <td>{{frota.placa}}</td>
            <td>
                <button class="btn btn-outline-warning btn-sm mr-2" [routerLink]="['edicao', frota.id]">Editar</button>
            </td>
            <td>
                <button class="btn btn-outline-danger btn-sm " (click)="excluir(frota) ">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
<div class="row text-center mt-4">
    <div class="col-3">
        <button class="btn btn-primary btn-block" [routerLink]="['/menu-principal']">Menu Principal</button>
    </div>
    <div class="col-3">
        <button class="btn btn-primary btn-block" [routerLink]="['/frotas/cadastro']">Cadastrar Novo</button>
    </div>
</div>